{# 
WeightGame Settings Page
----------------------
User preferences and application configuration page. Lists available
settings categories that will be implemented in future iterations,
including notifications, privacy, themes, and data management.

Blocks:
- content: List of configurable settings

Author: will-doney
Date: November 2025
#}
{% extends 'base.html' %}
{% block content %}
  <h2 class="section-title">App Settings</h2>
  <ul class="settings-list">
    <li>Notification Preferences</li>
    <li>Privacy Settings</li>
    <li>Account Management</li>
    <li>Theme Selection</li>
    <li>Data Export Options</li>
  </ul>
{% endblock %}
